<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background:linear-gradient(to right,#060B26,#2A2C39);
        }
    </style>
    
    <link rel="stylesheet" href="{% static 'css/nav.css' %}"> 
    {% block extra_css %}
    
    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}

</body>
</html>