<style>
    .navbar {
        background: linear-gradient(to right, #21243b, #353847);

    }

    .nav-link {
        color: rgb(245, 245, 245);
        margin-left: 2px;
    }

    .navbar-brand {
        color: aliceblue;
        font-size: 40px;
        margin: 0;
        padding: 0;
    }

    .navbar-nav {
        padding-left: 4px;
        margin-left: 400px;
        border: 2px solid rgba(166, 219, 227, 0.47);
        border-radius: 35px
    }

    .nav-link:hover {

        color: #6789ab;
    }
</style>



<nav class="navbar navbar-expand-lg ">

    <div class="navbar-brand" href="#">UAP</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Forum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn  my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>