<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <!-- Navbar -->
      <div class="navbar">
        <h2>UAP</h2>
        <div class="center">
            <div class="section">
                <a href="#" class="section-link">
                    <h3>Home</h3>
                </a>
                <a href="#" class="section-link">
                    <h3>Forum</h3>
                </a>
                <a href="#" class="section-link">
                    <h3>Event</h3>
                </a>
            </div>
        </div>
        <div class="profile">
            <h3>Profile</h3>
        </div>
    </div>
</body>
</html>